<div class="container">
<div class="header">
    <h2 style="margin:5px" [textContent]='title'></h2>
    <input type="text" id="myInput" placeholder="Write a new task"  #newTask>
    <button class="addBtn" (click)="addtask(newTask.value); newTask.value=''">Add</button>
</div>

<div class="row">
<div class="col-12" *ngIf="tasks.length > 0">
<ul id="myUL">
    <li *ngFor="let t of tasks"> 
      {{t}}
      <button (click)="removetask(t)" style="float:right;" class="close"> x </button>
    </li>
</ul>
</div>

<div class="col-12" *ngIf="tasks.length === 0" >
 No Tasks Added Yet
</div>
</div>
</div>
